// ============================================
// Other variables
// ============================================
$gradient-color1:       #535abc;
$gradient-color2:       #f57a72;

$gradient-dark1:        #2071a7;
$gradient-dark2:        #232346;

// Bootstrap breakpoints - 1
$bs-breakpoint-sm:        575px;
$bs-breakpoint-md:        765px;
$bs-breakpoint-lg:        991px;
$bs-breakpoint-xl:        1199px;
$bs-breakpoint-xxl:       1399px;
